// breakpoints defined following PureCSS's breakpoints:
// https://blog.logrocket.com/css-breakpoints-responsive-design/#how-choose-breakpoints
$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;
$breakpoint-xxl: 120em;
$breakpoint-xxxl: 160em;
$breakpoint-x4k: 240em;
